.login-container {
	position: relative;
	height: 100%;
	margin-top: 100px;
	.login-box {
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 94%;
		background-color: hsl(0deg 0% 100% / 80%);
		border-radius: 10px;
		.login-form {
			width: 750px;
			padding: 20px;
			border-radius: 10px;
			box-shadow: 2px 2px 7px rgb(0 0 0 / 20%);
			.login-logo {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 45px;
				.logo-text {
					font-size: 20px;
					font-weight: bold;
					color: #34495e;
					white-space: nowrap;
				}
			}
			.el-form-item {
				margin-bottom: 40px;
			}
			.login-btn {
				display: flex;
				justify-content: space-between;
				width: 100%;
				margin-top: 40px;
				white-space: nowrap;
				.van-button {
					width: 100%;
				}
			}
		}
	}
}
